body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2A3F54!important;
}
textarea{
  resize: none;
}
.left_col.scroll-view{
   /* height:100vh;   */
}
.col-md-3.left-container{
  background: #2A3F54;
  height:100%;
  
}
.col-md-9.right-container{
  background: white !important;
}
.activeNav{
  background: #D3D3D3 !important;
}
/*Bikram*/
/**My CSS**/
.login-form{height: 300px;  width: 330px;   margin: 0 auto;  border: 1px solid; border-radius: 4px;text-align: center}
.header{width: 100%;  border-bottom: 1px solid; height: 50px;  line-height: 50px; font-size: 30px;  background: #134f66;  color: white}
#userName,#password {height: 35px;  width: 200px;  border:none;  font-size: 20px;  margin-top: 20px; border-bottom: 1px solid;}
#userName:focus,#password:focus{ outline: none}
#login{height: 40px;  width: 200px;  font-size: 20px;  border-radius: 4px;  margin-top: 40px; background: #134f66;  color: white}
#login:focus{outline: none}
.login-form-header{background-color:#541217;  height: 200px;  color: white;  margin-bottom: 20px;  text-align: center}